.todoListContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 10px;
  min-height: 22.5rem;
  height: fit-content;

  border: 1px solid #026f22;
  border-radius: 0.5rem;
  overflow: auto;
}

.todoListTextEmpty,
.todoListText {
  font-size: 1.3rem;
  margin: auto;
  line-height: 1.4;

  transition: all 0.3s linear;
}

.todoListText {
  padding-top: 0.5rem;
  margin: auto auto 0.5rem;
}

.completedTasksCounter {
  color: #04f185;
}

@media (max-width: 430px) {
  .todoListContainer {
    min-height: 14.5rem;
  }
}
