.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: auto;
  max-width: 100%;
}

.githubIcon {
  font-size: 2.2rem;
  color: #04f185;
  margin-right: 15px;
}

.footerLink {
  display: flex;
  align-items: center;
  color: #026f22;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s linear;
}

.footerLink:hover {
  color: #04f185;
}

@media (max-width: 375px) {
  .footer {
    font-size: 0.9rem;
  }
}
